* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body{
  overflow-x: hidden;
}

.section1{
  height: 100%;
  position: relative;
  font-family: "Poppins", sans-serif !important;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

.part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

nav h1{
  font-size: 20px;
  display: flex;
  align-items: center;
}

nav h4{
  font-size: 15px;
  font-weight: 500;
}

nav button{
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
}

.ri-shining-2-fill {
  font-size: 25px;
  margin-right: 7px;
}


.center{
  padding: 10px 100px;
  /* height: 80%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-part1{
  width: 45%;
  /* height: 100%; */
}

.center-part1 h1{
  font-size: 45px;
  font-family: "Orbitron", sans-serif;
}

.center-part1 p{
  font-size: 17px;
  margin-top: 30px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #8f8c8c;
}

.center-part1 button{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 13px 35px;
  font-size: 17px;
  margin-top: 30px;
  border-radius: 7px;
}

.center-part2{
  width: 50%;
  /* height: 100%; */
  position: relative;
}

.center-part2 img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.section1 .section1bottom{
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px 30px;
  margin-top: 40px;
}

.section1 .section1bottom img{
  width: 120px;
  filter: grayscale(100%);
}

.section2{
  padding: 40px 100px; 
  /* margin-top: 150px; */
}

.section2 .services {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section2 .services h3{
  font-family: "Orbitron", sans-serif;
  font-size: 45px;
}

.section2 .services p{
  color: rgb(169, 169, 169) ;
  font-size: 12px;
  width: 30%;
}

.section2 .container {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.elem {
  flex-shrink: 0;
  height: 270px;
  width: 47%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 30px 0px black;
  display: flex;
  padding: 30px 30px;
  justify-content: space-between;
  position: relative;
}

.elem h3{
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
}

.elem p{
  font-size: 13px;
  margin-top: 50px;
  position: absolute;
  bottom: 40px;
  color: #8f8c8c;
  width: 50%;
}







.box1{
  background-color: white;
  height: 100vh;
}

.box2{
  background-color: aqua;
  height: 100vh;
}

.box{
  height: 300px;
  width: 300px;
  background-color: bisque;
}




/* -------------MARQUEE------------------ */

.marquee{
  position: relative;
  background: #000;
  color: #fff;
  padding: 30px 0;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  overflow: hidden;
  font-family: "Orbitron", sans-serif;
}

.marquee_inner{
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.marquee_part{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}

.arrow{
  width: 60px;
  height: 80px;
  margin: 0 1em;
  /* transform: rotate(90deg); */
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* background-color: #fff; */
  color: #fff !important;
}

.arrow.active {
  transform: rotate(-180deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

