* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

section{
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif !important;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

.part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

nav h1{
  font-size: 30px;
}

nav h4{
  font-size: 18px;
  font-weight: 500;
}

nav button{
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #000;
}