* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

section{
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif !important;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

.part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

nav h1{
  font-size: 20px;
  display: flex;
  align-items: center;
}

nav h4{
  font-size: 15px;
  font-weight: 500;
}

nav button{
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
}

.ri-shining-2-fill {
  font-size: 25px;
  margin-right: 7px;
}


.center{
  padding: 70px 100px;
  height: 80%;
  width: 100%;
  display: flex;
}

.center-part1{
  width: 45%;
  height: 100%;
}

.center-part1 h1{
  font-size: 45px;
  font-family: "Orbitron", sans-serif;
}

.center-part1 p{
  font-size: 17px;
  margin-top: 30px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #8f8c8c;
}

.center-part1 button{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 13px 35px;
  font-size: 17px;
  margin-top: 30px;
  border-radius: 7px;
}

.center-part2{
  width: 53%;
  height: 100%;
}